<main class="details">
    <!-- Details page -->
    <section id="details">
        {{#with item}}
        <div id="details-wrapper">
            <p id="details-title">Name: {{name}}</p>
            <div id="img-wrapper">
                <img src="{{imgUrl}}" />
            </div>
            <div id="info-wrapper">
                <table>
                    <tr>
                        <td>
                            <p>
                                Years: <span id="details-years">{{years}}</span>
                            </p>
                        </td>
                        <td>
                            <p>Kind: <span id="details-kind">{{kind}}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Need of: <span id="details-need">{{need}}</span></p>
                        </td>
                        <td>
                            <p>Location: <span id="details-location">{{location}}</span></p>
                        </td>
                    </tr>
                </table>
                <p>Description: <span id="details-description">{{description}}</span></p>
            </div>
           {{/with}}
            <!--Edit and Delete are only for creator-->
            {{#if user}}
            <div id="action-buttons">
                {{#if isOwner}}
                <a href="/world/edit/{{item._id}}" id="edit-btn">Edit</a>
                <a href="/world/delete/{{item._id}}" id="delete-btn">Delete</a>
                {{else}}
                     {{#unless isTaked}}
                    <a href="/world/action/{{item._id}}" id="donation-btn">Donation</a>
                    {{else}}
                    <p id="already-donated">You already donated!</p>
                    {{/unless}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </section>
</main>