<section id="viewCatalog" class="background-img">
    <div class="added-hotels">
    {{#each hotels}}
        <a href="/hotel/details/{{_id}}" class="added-hotel">
            <img src="{{imgUrl}}" alt=""
                class="picture-added-hotel">
            <h3>{{name}}</h3>
            <span>Free rooms: {{rooms}}</span>
        </a>
    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/each}}
    </div>
</section>